# Import Data

In [1]:
import pandas as pd

In [2]:
utah_vineyard = pd.read_csv('utah_lake_vineyard_minimal.csv')

In [3]:
utah_vineyard.head()

   Temperature  Conductivity    PH  Turbidity   ODO  BGA
0        15.02          1848  8.36      16.84  9.04    0
1        14.99          1847  8.36      16.76  9.04    0
2        14.96          1847  8.36      16.82  9.04    0
3        14.95          1848  8.36      17.19  9.03    0
4        14.92          1848  8.36      16.85  9.02    0

In [4]:
utah_bird = pd.read_csv('utah_lake_bird_minimal.csv')

In [5]:
utah_bird.head()

   Temperature  Conductivity    PH  Turbidity   ODO  BGA
0        23.19          2064  8.23      31.00  7.31    0
1        22.98          2052  8.28      31.06  7.19    0
2        22.99          2048  8.29      27.66  7.16    0
3        22.98          2048  8.29      28.36  7.12    0
4        22.96          2049  8.29      27.69  7.04    0

# Normalize Data

In [6]:
utah_vineyard.columns

Index(['Temperature', 'Conductivity', 'PH', 'Turbidity', 'ODO', 'BGA'], dtype='object')

In [7]:
cols_to_normalize = ['Temperature', 'Conductivity', 'PH', 'Turbidity', 'ODO']

In [8]:
utah_vineyard[cols_to_normalize] = utah_vineyard[cols_to_normalize].apply(lambda x: (x - x.min()) / 
                                                                          (x.max() - x.min() ))

In [9]:
utah_bird[cols_to_normalize] = utah_vineyard[cols_to_normalize].apply(lambda x: (x - x.min()) / 
                                                                          (x.max() - x.min() ))

In [10]:
utah_vineyard.head()

   Temperature  Conductivity        PH  Turbidity       ODO  BGA
0     0.409329      0.853771  0.330769   0.025439  0.351818    0
1     0.408021      0.853309  0.330769   0.025313  0.351818    0
2     0.406713      0.853309  0.330769   0.025407  0.351818    0
3     0.406277      0.853771  0.330769   0.025989  0.350909    0
4     0.404969      0.853771  0.330769   0.025454  0.350000    0

In [11]:
utah_bird.head()

   Temperature  Conductivity        PH  Turbidity       ODO  BGA
0     0.409329      0.853771  0.330769   0.025439  0.351818    0
1     0.408021      0.853309  0.330769   0.025313  0.351818    0
2     0.406713      0.853309  0.330769   0.025407  0.351818    0
3     0.406277      0.853771  0.330769   0.025989  0.350909    0
4     0.404969      0.853771  0.330769   0.025454  0.350000    0

# Import Tensorflow and Create Columns

In [12]:
import tensorflow as tf

In [17]:
temperature = tf.feature_column.numeric_column('Temperature')
conductivity = tf.feature_column.numeric_column('Conductivity')
ph = tf.feature_column.numeric_column('PH')
turbidity = tf.feature_column.numeric_column('Turbidity')
odo = tf.feature_column.numeric_column('ODO')

In [20]:
feat_cols = [temperature, conductivity, ph, turbidity, odo]

In [22]:
vineyard_x_data = utah_vineyard.drop('BGA', axis=1)

In [24]:
bird_x_data = utah_bird.drop('BGA', axis=1)

In [25]:
vineyard_x_data.head()

   Temperature  Conductivity        PH  Turbidity       ODO
0     0.409329      0.853771  0.330769   0.025439  0.351818
1     0.408021      0.853309  0.330769   0.025313  0.351818
2     0.406713      0.853309  0.330769   0.025407  0.351818
3     0.406277      0.853771  0.330769   0.025989  0.350909
4     0.404969      0.853771  0.330769   0.025454  0.350000

In [26]:
bird_x_data.head()

   Temperature  Conductivity        PH  Turbidity       ODO
0     0.409329      0.853771  0.330769   0.025439  0.351818
1     0.408021      0.853309  0.330769   0.025313  0.351818
2     0.406713      0.853309  0.330769   0.025407  0.351818
3     0.406277      0.853771  0.330769   0.025989  0.350909
4     0.404969      0.853771  0.330769   0.025454  0.350000

In [15]:
labels_vineyard = utah_vineyard['BGA']

In [16]:
labels_bird = utah_bird['BGA']

# Create Test Train Split with SKLEARN