In [1]:
import pandas as pd
import tensorflow as tf
import keras as ks
import numpy as np
from sklearn.metrics import recall_score, precision_score, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import datetime
import time
from math import floor

from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, Flatten, Activation, MaxPooling2D
import matplotlib.pylab as plt
import seaborn as sns

C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# Load the data
df = pd.read_csv('../../data/cleaned/site1_vineyard.csv')
df.dtypes

Date (mm.dd.yyyy)       object
Time 24hr               object
Temp C                 float64
Sp Cond (uS/cm)          int64
pH (mV)                float64
pH                     float64
Turbidity (NTU)        float64
Chlorophyll (ug/L)     float64
Chlorophyll RFU        float64
ODOSat%                float64
ODO (mg/L)             float64
BGA-Phycocyanin RFU    float64
dtype: object

In [3]:
# Create a single datetime column from the strings provided in our csv's
# (We're already doing this bit for our models)
from datetime import datetime

timestamp = df['Date (mm.dd.yyyy)'] + ' '+ df['Time 24hr']
timestamp = pd.to_datetime(timestamp)
df['timestamp'] = timestamp

# I'll drop the other columns for simple demo purposes
df = df[['timestamp']]
df['temp'] = [x for x in range(0, df.shape[0])]

df.dtypes

timestamp    datetime64[ns]
temp                  int64
dtype: object

In [4]:
# Now we set our datetime to be the index of the df for awesome indexing options
# Note, the column is removed, so it might be good to keep a copy by another
# name for feature engineering.
df['datetime'] = df['timestamp']
df = df.set_index('timestamp')
df.dtypes

temp                 int64
datetime    datetime64[ns]
dtype: object

In [5]:
df

                      temp            datetime
timestamp
2017-05-05 00:00:00      0 2017-05-05 00:00:00
2017-05-05 00:15:00      1 2017-05-05 00:15:00
2017-05-05 00:30:00      2 2017-05-05 00:30:00
2017-05-05 00:45:00      3 2017-05-05 00:45:00
2017-05-05 01:00:00      4 2017-05-05 01:00:00
2017-05-05 01:15:00      5 2017-05-05 01:15:00
2017-05-05 01:30:00      6 2017-05-05 01:30:00
2017-05-05 01:45:00      7 2017-05-05 01:45:00
2017-05-05 02:00:00      8 2017-05-05 02:00:00
2017-05-05 02:15:00      9 2017-05-05 02:15:00
2017-05-05 02:30:00     10 2017-05-05 02:30:00
2017-05-05 02:45:00     11 2017-05-05 02:45:00
2017-05-05 03:00:00     12 2017-05-05 03:00:00
2017-05-05 03:15:00     13 2017-05-05 03:15:00
2017-05-05 03:30:00     14 2017-05-05 03:30:00
2017-05-05 03:45:00     15 2017-05-05 03:45:00
2017-05-05 04:00:00     16 2017-05-05 04:00:00
2017-05-05 04:15:00     17 2017-05-05 04:15:00
2017-05-05 04:30:00     18 2017-05-05 04:30:00
2017-05-05 04:45:00     19 2017-05-05 04:45:00
2017-05-05 05:00:00     20 2017-05-05 05:00:00
2017-05-05 05:15:00     21 2017-05-05 05:15:00
2017-05-05 05:30:00     22 2017-05-05 05:30:00
2017-05-05 05:45:00     23 2017-05-05 05:45:00
2017-05-05 06:00:00     24 2017-05-05 06:00:00
2017-05-05 06:15:00     25 2017-05-05 06:15:00
2017-05-05 06:30:00     26 2017-05-05 06:30:00
2017-05-05 06:45:00     27 2017-05-05 06:45:00
2017-05-05 07:00:00     28 2017-05-05 07:00:00
2017-05-05 07:15:00     29 2017-05-05 07:15:00
...                    ...                 ...
2017-11-18 01:15:00  18917 2017-11-18 01:15:00
2017-11-18 01:30:00  18918 2017-11-18 01:30:00
2017-11-18 01:45:00  18919 2017-11-18 01:45:00
2017-11-18 02:00:00  18920 2017-11-18 02:00:00
2017-11-18 02:15:00  18921 2017-11-18 02:15:00
2017-11-18 02:30:00  18922 2017-11-18 02:30:00
2017-11-18 02:45:00  18923 2017-11-18 02:45:00
2017-11-18 03:00:00  18924 2017-11-18 03:00:00
2017-11-18 03:15:00  18925 2017-11-18 03:15:00
2017-11-18 03:30:00  18926 2017-11-18 03:30:00
2017-11-18 03:45:00  18927 2017-11-18 03:45:00
2017-11-18 04:00:00  18928 2017-11-18 04:00:00
2017-11-18 04:15:00  18929 2017-11-18 04:15:00
2017-11-18 04:30:00  18930 2017-11-18 04:30:00
2017-11-18 04:45:00  18931 2017-11-18 04:45:00
2017-11-18 05:00:00  18932 2017-11-18 05:00:00
2017-11-18 05:15:00  18933 2017-11-18 05:15:00
2017-11-18 05:30:00  18934 2017-11-18 05:30:00
2017-11-18 05:45:00  18935 2017-11-18 05:45:00
2017-11-18 06:00:00  18936 2017-11-18 06:00:00
2017-11-18 06:15:00  18937 2017-11-18 06:15:00
2017-11-18 06:30:00  18938 2017-11-18 06:30:00
2017-11-18 06:45:00  18939 2017-11-18 06:45:00
2017-11-18 07:00:00  18940 2017-11-18 07:00:00
2017-11-18 07:15:00  18941 2017-11-18 07:15:00
2017-11-18 07:30:00  18942 2017-11-18 07:30:00
2017-11-18 07:45:00  18943 2017-11-18 07:45:00
2017-11-18 08:00:00  18944 2017-11-18 08:00:00
2017-11-18 08:15:00  18945 2017-11-18 08:15:00
2017-11-18 08:30:00  18946 2017-11-18 08:30:00

[18947 rows x 2 columns]

In [6]:
# Index into a range of dates
df['2017-05-05 00:15:00':'2017-05-05 00:45:00']

                     temp            datetime
timestamp
2017-05-05 00:15:00     1 2017-05-05 00:15:00
2017-05-05 00:30:00     2 2017-05-05 00:30:00
2017-05-05 00:45:00     3 2017-05-05 00:45:00

In [7]:
# Index with an offset
start = df['datetime'][0]
delta = pd.Timedelta(1, unit='h')
print("start:", start)
print(delta)
offset = pd.Timedelta(1, 'm')
# grab a slice over 1 hour
df[start:start + delta]

start: 2017-05-05 00:00:00
0 days 01:00:00

                     temp            datetime
timestamp
2017-05-05 00:00:00     0 2017-05-05 00:00:00
2017-05-05 00:15:00     1 2017-05-05 00:15:00
2017-05-05 00:30:00     2 2017-05-05 00:30:00
2017-05-05 00:45:00     3 2017-05-05 00:45:00
2017-05-05 01:00:00     4 2017-05-05 01:00:00

In [8]:
df[start+delta+offset: start+delta+delta]

                     temp            datetime
timestamp
2017-05-05 01:15:00     5 2017-05-05 01:15:00
2017-05-05 01:30:00     6 2017-05-05 01:30:00
2017-05-05 01:45:00     7 2017-05-05 01:45:00
2017-05-05 02:00:00     8 2017-05-05 02:00:00

In [9]:
def create_windows(dataset, window_size, shift, time_col, days_ahead=None, hours_ahead=None):
    """
    determines the window size for the data set
    :param dataset: The dataset to get windows for
    :param window_size: the size of the window
    :param shift: the amout to shift the window
    :param time_col: the time column to determine the window size on
    :param days_ahead: the numer of days ahead to look for the target window
    :param hours_ahead: the number of hours ahead to look for the target window
   
    :yield: the indexes for the next window 
    """
    start = dataset[time_col][0]
    
    if hours_ahead != None:
        end_delta = pd.Timedelta(window_size,unit='h')
    else: 
        end_delta = pd.Timedelta(window_size, unit='D')    
    if hours_ahead != None:
        ahead_delta = end_delta + pd.Timedelta(hours_ahead,unit='h')
    else:
        ahead_delta = end_delta + pd.Timedelta(days_ahead, unit='D')
    print(start)
    print(end_delta)
    print(ahead_delta)
    input()
    while ( start+ahead_delta < dataset[time_col][dataset.shape[0]-1]): 
        yield (  start , end_delta, ahead_delta )
        # shift the window 'shift' hour blocks of time
        start = update_indicies( shift, start )
        
def segment_dataset(dataset, time_col, shift=1, window_multiplier=2, days_ahead=1, hours_ahead=None):
    """
    Segments the dataset based on the parameters that are passed in.
    
    :param dataset: the dataset to segment into windows
    :param time_col: the name of the time column in the dataset
    :param window_multiplier: the size times larger for the window of features to be compared to the target. Default is twice the size
    :param hours_ahead: the number of hours ahead for the window to get back
    :param days_ahead: the number of days ahead of the window to get back. If no other  Default is 1
    :return: An array of Dataframes windowed for features and targets
    """
    
    if hours_ahead != None:
        window_size = floor(hours_ahead * window_multiplier)
    else:
        window_size = floor(days_ahead * window_multiplier)
    segments = []
    targets  = []
    if hours_ahead != None:
        for (start, end_delta, ahead_delta) in create_windows(dataset, window_size, shift, time_col, hours_ahead=hours_ahead):
            segments.append(dataset[start:start + end_delta])
            targets.append(dataset[start + end_delta: start+ahead_delta])
    else:
        # if no option is selected will default to days ahead
        for (start, end_delta, ahead_delta) in create_windows(dataset, window_size, shift, time_col, days_ahead=days_ahead):
            segments.append(dataset[start:start + end_delta])
            targets.append(dataset[start + end_delta: start+ahead_delta])
    return segments, targets

def update_indicies(shift, value):
    """
    Updates the indicies with the newest indicies based on the shift value passed in
    
    :param shift: the amount to shift the window by
    :param value: the value to shift
    
    :return: the next index for the specified value
    """
    return value + pd.Timedelta(shift, unit='h')

In [10]:
df['datetime'][len(df['datetime'])-1]

Timestamp('2017-11-18 08:30:00')

In [11]:
start = df['datetime'][0]
df[start:start + pd.Timedelta(1, 'm')]

            temp   datetime
timestamp
2017-05-05     0 2017-05-05

In [37]:
df.describe()

               temp
count  18947.000000
mean    9473.000000
std     5469.672111
min        0.000000
25%     4736.500000
50%     9473.000000
75%    14209.500000
max    18946.000000

In [42]:
df.quantile(.5)

temp    9473.0
Name: 0.5, dtype: float64

In [16]:
def segment(df, time_col, x_win, y_win, shift):
    segments = []
    targets = []
    start = df[time_col][0]
    end = df[time_col][len(df[time_col])-1]
    offset = pd.Timedelta(1, unit='s') # to remove overlap of x and y
    while start + x_win + y_win <= end:
        segments.append(df[start:start + x_win])
        targets.append(df[start  + x_win + offset : start + x_win + y_win])
        start += shift
    return segments, targets

In [21]:
s, t = segment(df, 
               'datetime', 
               pd.Timedelta(2, unit='d'), pd.Timedelta(1, unit='d'),
        pd.Timedelta(6, unit='h'))

In [24]:
s[-1]

                      temp            datetime
timestamp
2017-11-15 06:00:00  18648 2017-11-15 06:00:00
2017-11-15 06:15:00  18649 2017-11-15 06:15:00
2017-11-15 06:30:00  18650 2017-11-15 06:30:00
2017-11-15 06:45:00  18651 2017-11-15 06:45:00
2017-11-15 07:00:00  18652 2017-11-15 07:00:00
2017-11-15 07:15:00  18653 2017-11-15 07:15:00
2017-11-15 07:30:00  18654 2017-11-15 07:30:00
2017-11-15 07:45:00  18655 2017-11-15 07:45:00
2017-11-15 08:00:00  18656 2017-11-15 08:00:00
2017-11-15 08:15:00  18657 2017-11-15 08:15:00
2017-11-15 08:30:00  18658 2017-11-15 08:30:00
2017-11-15 08:45:00  18659 2017-11-15 08:45:00
2017-11-15 09:00:00  18660 2017-11-15 09:00:00
2017-11-15 09:15:00  18661 2017-11-15 09:15:00
2017-11-15 09:30:00  18662 2017-11-15 09:30:00
2017-11-15 09:45:00  18663 2017-11-15 09:45:00
2017-11-15 10:00:00  18664 2017-11-15 10:00:00
2017-11-15 10:15:00  18665 2017-11-15 10:15:00
2017-11-15 10:30:00  18666 2017-11-15 10:30:00
2017-11-15 10:45:00  18667 2017-11-15 10:45:00
2017-11-15 11:00:00  18668 2017-11-15 11:00:00
2017-11-15 11:15:00  18669 2017-11-15 11:15:00
2017-11-15 11:30:00  18670 2017-11-15 11:30:00
2017-11-15 11:45:00  18671 2017-11-15 11:45:00
2017-11-15 12:00:00  18672 2017-11-15 12:00:00
2017-11-15 12:15:00  18673 2017-11-15 12:15:00
2017-11-15 12:30:00  18674 2017-11-15 12:30:00
2017-11-15 12:45:00  18675 2017-11-15 12:45:00
2017-11-15 13:00:00  18676 2017-11-15 13:00:00
2017-11-15 13:15:00  18677 2017-11-15 13:15:00
...                    ...                 ...
2017-11-16 22:45:00  18811 2017-11-16 22:45:00
2017-11-16 23:00:00  18812 2017-11-16 23:00:00
2017-11-16 23:15:00  18813 2017-11-16 23:15:00
2017-11-16 23:30:00  18814 2017-11-16 23:30:00
2017-11-16 23:45:00  18815 2017-11-16 23:45:00
2017-11-17 00:00:00  18816 2017-11-17 00:00:00
2017-11-17 00:15:00  18817 2017-11-17 00:15:00
2017-11-17 00:30:00  18818 2017-11-17 00:30:00
2017-11-17 00:45:00  18819 2017-11-17 00:45:00
2017-11-17 01:00:00  18820 2017-11-17 01:00:00
2017-11-17 01:15:00  18821 2017-11-17 01:15:00
2017-11-17 01:30:00  18822 2017-11-17 01:30:00
2017-11-17 01:45:00  18823 2017-11-17 01:45:00
2017-11-17 02:00:00  18824 2017-11-17 02:00:00
2017-11-17 02:15:00  18825 2017-11-17 02:15:00
2017-11-17 02:30:00  18826 2017-11-17 02:30:00
2017-11-17 02:45:00  18827 2017-11-17 02:45:00
2017-11-17 03:00:00  18828 2017-11-17 03:00:00
2017-11-17 03:15:00  18829 2017-11-17 03:15:00
2017-11-17 03:30:00  18830 2017-11-17 03:30:00
2017-11-17 03:45:00  18831 2017-11-17 03:45:00
2017-11-17 04:00:00  18832 2017-11-17 04:00:00
2017-11-17 04:15:00  18833 2017-11-17 04:15:00
2017-11-17 04:30:00  18834 2017-11-17 04:30:00
2017-11-17 04:45:00  18835 2017-11-17 04:45:00
2017-11-17 05:00:00  18836 2017-11-17 05:00:00
2017-11-17 05:15:00  18837 2017-11-17 05:15:00
2017-11-17 05:30:00  18838 2017-11-17 05:30:00
2017-11-17 05:45:00  18839 2017-11-17 05:45:00
2017-11-17 06:00:00  18840 2017-11-17 06:00:00

[193 rows x 2 columns]

In [25]:
t[-1]

                      temp            datetime
timestamp
2017-11-17 06:15:00  18841 2017-11-17 06:15:00
2017-11-17 06:30:00  18842 2017-11-17 06:30:00
2017-11-17 06:45:00  18843 2017-11-17 06:45:00
2017-11-17 07:00:00  18844 2017-11-17 07:00:00
2017-11-17 07:15:00  18845 2017-11-17 07:15:00
2017-11-17 07:30:00  18846 2017-11-17 07:30:00
2017-11-17 07:45:00  18847 2017-11-17 07:45:00
2017-11-17 08:00:00  18848 2017-11-17 08:00:00
2017-11-17 08:15:00  18849 2017-11-17 08:15:00
2017-11-17 08:30:00  18850 2017-11-17 08:30:00
2017-11-17 08:45:00  18851 2017-11-17 08:45:00
2017-11-17 09:00:00  18852 2017-11-17 09:00:00
2017-11-17 09:15:00  18853 2017-11-17 09:15:00
2017-11-17 09:30:00  18854 2017-11-17 09:30:00
2017-11-17 09:45:00  18855 2017-11-17 09:45:00
2017-11-17 10:00:00  18856 2017-11-17 10:00:00
2017-11-17 10:15:00  18857 2017-11-17 10:15:00
2017-11-17 10:30:00  18858 2017-11-17 10:30:00
2017-11-17 10:45:00  18859 2017-11-17 10:45:00
2017-11-17 11:00:00  18860 2017-11-17 11:00:00
2017-11-17 11:15:00  18861 2017-11-17 11:15:00
2017-11-17 11:30:00  18862 2017-11-17 11:30:00
2017-11-17 11:45:00  18863 2017-11-17 11:45:00
2017-11-17 12:00:00  18864 2017-11-17 12:00:00
2017-11-17 12:15:00  18865 2017-11-17 12:15:00
2017-11-17 12:30:00  18866 2017-11-17 12:30:00
2017-11-17 12:45:00  18867 2017-11-17 12:45:00
2017-11-17 13:00:00  18868 2017-11-17 13:00:00
2017-11-17 13:15:00  18869 2017-11-17 13:15:00
2017-11-17 13:30:00  18870 2017-11-17 13:30:00
...                    ...                 ...
2017-11-17 22:45:00  18907 2017-11-17 22:45:00
2017-11-17 23:00:00  18908 2017-11-17 23:00:00
2017-11-17 23:15:00  18909 2017-11-17 23:15:00
2017-11-17 23:30:00  18910 2017-11-17 23:30:00
2017-11-17 23:45:00  18911 2017-11-17 23:45:00
2017-11-18 00:00:00  18912 2017-11-18 00:00:00
2017-11-18 00:15:00  18913 2017-11-18 00:15:00
2017-11-18 00:30:00  18914 2017-11-18 00:30:00
2017-11-18 00:45:00  18915 2017-11-18 00:45:00
2017-11-18 01:00:00  18916 2017-11-18 01:00:00
2017-11-18 01:15:00  18917 2017-11-18 01:15:00
2017-11-18 01:30:00  18918 2017-11-18 01:30:00
2017-11-18 01:45:00  18919 2017-11-18 01:45:00
2017-11-18 02:00:00  18920 2017-11-18 02:00:00
2017-11-18 02:15:00  18921 2017-11-18 02:15:00
2017-11-18 02:30:00  18922 2017-11-18 02:30:00
2017-11-18 02:45:00  18923 2017-11-18 02:45:00
2017-11-18 03:00:00  18924 2017-11-18 03:00:00
2017-11-18 03:15:00  18925 2017-11-18 03:15:00
2017-11-18 03:30:00  18926 2017-11-18 03:30:00
2017-11-18 03:45:00  18927 2017-11-18 03:45:00
2017-11-18 04:00:00  18928 2017-11-18 04:00:00
2017-11-18 04:15:00  18929 2017-11-18 04:15:00
2017-11-18 04:30:00  18930 2017-11-18 04:30:00
2017-11-18 04:45:00  18931 2017-11-18 04:45:00
2017-11-18 05:00:00  18932 2017-11-18 05:00:00
2017-11-18 05:15:00  18933 2017-11-18 05:15:00
2017-11-18 05:30:00  18934 2017-11-18 05:30:00
2017-11-18 05:45:00  18935 2017-11-18 05:45:00
2017-11-18 06:00:00  18936 2017-11-18 06:00:00

[96 rows x 2 columns]